тіло {
    шрифт: 0.8125em Helvetica, 'Helvetica Neue', Arial, Verdana, без засічок;
    колір: #666666;
    поле: 0 10 пікселів;
}
тіло {
	запас: 0;
}
тіло a {
    текст-прикраса: немає;
    колір: #464646;
}
тіло a:hover {
    колір: #1876bd;
}
тіло h1 {
    розмір шрифту: 1,3 em;
}
тіло h2 {
    розмір шрифту: 1,2 em;
}
тіло h3 {
    розмір шрифту: 1,1 em;
}
ul {
	list-style-type: немає;
}
.header-wrap {
	максимальна ширина: 1200 пікселів;
	висота: авто;
	мінімальна висота: 156 пікселів;
	margin: 0 auto;
    положення: відносне;
}
.логотип,
.logoText,
.головне меню {
	ширина: авто;
    мінімальна ширина: 50 пікселів;
    дисплей: inline-block;
    вертикальне вирівнювання: зверху;
    поле: 50px 0 0 0;
}
.logo {
	розмір шрифту: 30 пікселів;
	поле: 50px 0 0 10px;
}
.logo h1 {
	запас: 0;
}
.logoText {
    максимальна ширина: 180 пікселів;   
    максимальна висота: 2,3 см;
    переповнення: прихований;
	поле: 50px 0 0 80px;
}
.головне меню {
    margin-left: 100 пікселів;
}
.mainMenu ul {
	запас: 0;
}
.mainMenu li {
    дисплей: inline-block;
	поле: 0 20px 0 0;
}
.mainMenu a {
    колір: #464646;
}
.mainMenu li.вибрано {
    колір: #1876bd;
}
.wrapMain {
    колір фону: #eeeff3;
    мінімальна ширина: 297 пікселів;
}
.main {
    ширина: 1200 пікселів;
    margin: 0 auto;
    переповнення: прихований;
}
.nameArticle {
	вирівнювання тексту: по центру;
}
.postExcerpts {
    переповнення: прихований;
}
.postExcerpt {
    ширина: 250 пікселів;
    висота: авто;
	мінімальна висота: 340 пікселів;
	розмір шрифту: .95em;
	колір фону: #fcfcfc;
	border-radius: 10px;
    дисплей: inline-block;
    вертикальне вирівнювання: зверху;
    поле: 10px 13px;
}
.postExcerpt>h2 {
    висота: авто;
    мінімальна висота: 120 пікселів;
    поле: 10 пікселів;
}
.titleCatIMG {
    дисплей: стіл;   
}
.titleAndCat {
    border-bottom: 1px суцільний чорний;
}
.titleAndCat h2 {
    вирівнювання тексту: ліворуч;
}
img {
    максимальна ширина: 250 пікселів;    
}
нижній колонтитул {
    margin: 0 auto;
    padding-bottom: 30px;
}
.footer-wrap {
	максимальна ширина: 1200 пікселів;
	висота: авто;
	margin: 0 auto 0 auto;
}
.footer-wrap .widget {
	ширина: 277 пікселів;
    відступ: 10 пікселів;
    дисплей: inline-block;
    положення: відносне;
    margin-bottom: 25px;
    вертикальне вирівнювання: зверху;
}
.widget h3 {
    розмір шрифту: .95em;
    вирівнювання тексту: ліворуч;
}
.widget ul {
    padding-left: 0;
}
.widget li {
    список-стиль: немає;
    відступ: 0 0 14px;
}
.tweet p {
    margin-bottom: .2em;
}
.tweet span {
    колір: #1781c2;
}
.footerInner {
    margin-top: 30px;
}
.copy {
    розмір шрифту: .8em;
    margin-left: 10px;
	вирівнювання тексту: по центру;
}
